	// Mixins
	@import "base/_mixins.scss";

	// CSS Font Stacks

	@import "base/_fonts.scss";

	// Variables
	@import "_variables.scss";

	// Normalize
	@import "base/_bizarro.scss";

	// Helpers
	@import "base/_helpers.scss";

	// -------------------------------------
	//   import the partials
	// -------------------------------------

	// Images

//	@import "partials/images/_images.scss";
//	@import "partials/images/_base64.scss";
	@import "partials/images/_figure.scss";

	// import color swatch

//	@import "partials/colors/_colors.scss";

	// import layout

	@import "partials/layout/_grids.scss";
	@import "partials/layout/_base.scss";
	@import "partials/layout/_header.scss";
	@import "partials/layout/_main.scss";
	@import "partials/layout/_aside.scss";
	@import "partials/layout/_footer.scss";

	// import typography

	@import "partials/typography/_headings.scss";
	@import "partials/typography/_body-copy.scss";
//	@import "partials/typography/_copy-classes.scss";
	@import "partials/typography/_links.scss";
	@import "partials/typography/_blockquotes.scss";
	@import "partials/typography/_misc.scss";
	@import "partials/typography/_code.scss";
//	@import "partials/typography/_scoped.scss";

	// import lists

	@import "partials/lists/_ul.scss";
	@import "partials/lists/_ol.scss";
	@import "partials/lists/_dl.scss";

	// import navigation

	@import "partials/navigation/_nav.scss";
	@import "partials/navigation/_pagination.scss";
	@import "partials/navigation/_breadcrumbs.scss";

	// Components

//	@import "partials/components/_alerts.scss";
//	@import "partials/components/_horizontal-rules.scss";
//	@import "partials/components/_labels.scss";
//	@import "partials/components/_wells.scss";

	// Tables

	@import "partials/tables/_table.scss";

	// Media Object

	@import "partials/media-object/_media-object.scss";

	// Buttons

	@import "partials/buttons/_buttons.scss";

	// Forms

	@import "partials/forms/_big-form.scss";
	@import "partials/forms/_search-form.scss";

	// Modules

	@import "partials/modules/_modules.scss";
	@import "partials/modules/_skipnav.scss";

	// Widgets

	@import "partials/widgets/_widgets.scss";



	//////////////// ******** ////////////////

	// Scratch, make sure this is at the end of this import file

	@import "partials/site-specific/_scratch.scss";

	// Shame, shame know your SCSS needs fixing in this file

	@import "partials/site-specific/_shame.scss";









	// Print styles
	@import "base/_print.scss";

	// DEBUG MODE
	$debugMode:         false;

	@import "base/_debug.scss";
