# Node.js with Express and Stlyus
public/css/*.css
public/css/main/*.css
public/css/admin/*.css
/.monitor

.sass-cache/

# Eclipse
/.project
/.settings
/.buildpath

# Sublime
*.sublime-project
*.sublime-workspace

# Windows
Thumbs.db

# Ignore this in Clock Harness projects because it is created by the build system.
/Config/vhost.conf

# Vim
.*.sw[a-z]
*.un~i
tags

# OsX
.DS_Store
Icon?
._*
.Spotlight-V100
.Trashes

# nodejs npm modules
/node_modules

# node-cluster
/pids
*.sock

# ZSH Cake plugin cache
/.cake_task_cache

# ignore the CSS folder

css/

# ignore sublime text 2 stuff

/*.sublime-project
*.sublime-workspace
sftp-config*.json


mixture.json

# gem
*.gem
