/*

Body Copy Classes
=================

    <p class="text-muted">faded out a little</p>
    <p class="text-primary">this really is something to look at</p>
    <p class="text-success">winner, winner. chicken dinner!</p>
    <p class="text-info">just a bit of info</p>
    <p class="text-warning">be careful now, take heed</p>
    <p class="text-danger">ooh, high voltage</p>

*/

.text-muted {
	color: $muted-color;
}

.text-primary {
	color: $primary-color;
}

.text-success {
	color: $success-color;
}

.text-info {
	color: $info-color;
}

.text-warning {
	color: $warning-color;
}

.text-danger {
	color: $danger-color;
}
