/*

Base64 Images
==============

This file is to include placeholder selectors just for Base64 images

*/

%icon {
	&:before {
		background-position: center center;
		background-repeat: no-repeat;
		content: '';
		position: absolute;
	}
}
