// -------------------------------------
//   helpers
// -------------------------------------

%ir {
	color: transparent;
	font: 0/0 a;
	text-shadow: none;
}

// hide from everything ----------------

%hidden {
	display: none !important;
	visibility: hidden;
}

%visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	&.focusable:active,
	&.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
}

%invisible {
	visibility: hidden;
}

// clearfix ----------------------------

%cf {
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

// remove margin from nested lists -----

li > ul,
li > ol {
	margin-bottom:0;
}
