// -------------------------------------
//   mixins
// -------------------------------------

@import "mixins/_tint-and-shade.scss";
@import "mixins/_media-queries.scss";
@import "mixins/_maths.scss";
@import "mixins/_misc.scss";
@import "mixins/_triangles.scss";
@import "mixins/_shapes.scss";
@import "mixins/_colors.scss";
@import "mixins/_rwd-padding-margin.scss";
@import "mixins/_border-radius.scss";
@import "mixins/_children-of-ie.scss";
@import "mixins/_BEM.scss";
@import "mixins/_typography.scss";
@import "mixins/_placeholder.scss";
@import "mixins/_IE7-padding.scss";
