/*

Horizontal Rules
=====================

<hr class="rule">
<hr class="rule rule--dotted">
<hr class="rule rule--dashed">
<hr class="rule rule--ornament">

*/

.rule{
	@include remit(margin-bottom, $doc-line-height);

	border:none;
	border-bottom-width:1px;
	border-bottom-style:solid;
	color: pink;
}

.rule--dotted{
	border-bottom-style:dotted;
}

.rule--dashed{
	border-bottom-style:dashed;
}

.rule--ornament{
	position:relative;

	&:after{
		content:"\00A7";
		left:  0;
		line-height:0;
		position:absolute;
		right: 0;
		top:   0;
		text-align:center;
	}

	&[data-ornament]:after{
		content:attr(data-ornament);
	}
}
