/*

Labels
======

<h3>Example heading <span class="label label-default">New</span></h3>

<span class="label label-default">Default</span>
<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span>

*/

.label {
	border-radius: $radius-sml;
	color: #FFF;
	display: inline;
	font-size: 75%;
	font-weight: bold;
	line-height: 1;
	padding: .2em .6em .3em;
	text-align: center;
	vertical-align: baseline;
	white-space: nowrap;

}

.label-default {
	background-color: $default-color;
}

.label-primary {
	background-color: $primary-color;
}

.label-success {
	background-color: $success-color;
}

.label-info {
	background-color: $info-color;
}

.label-warning {
	background-color: $warning-color;
}

.label-danger {
	background-color: $danger-color;
}
