// Creates IE7 and below specific widths as the library uses box-sizing: border-box;
// note it requires a conditional CSS comment to add a class to the <HTML>

@mixin IE7Padding($width: null, $unit: 1px, $paddingLeft: 0, $paddingRight: 0) {
@if $paddingLeft == 0 and $paddingRight != 0 {
      padding-right: $paddingRight * $unit;
      width: $width * $unit;
      .lt-ie8 & {
        padding-right: $paddingRight * $unit;
        width: ($width - $paddingRight) * $unit;
      }
    }
    @else if $paddingRight == 0 and $paddingLeft != 0{
      padding-left: $paddingLeft * $unit;
      width: $width * $unit;
      .lt-ie8 & {
        padding-left: $paddingLeft * $unit;
        width: ($width - $paddingLeft) * $unit;
      }
    }
  @else if $paddingRight !=0 and $paddingLeft != 0 {
    padding-right: $paddingRight * $unit;
    padding-left: $paddingLeft * $unit;
    width: $width * $unit;
    .lt-ie8 & {
      padding-right: $paddingRight * $unit;
      padding-left: $paddingLeft * $unit;
      width: ($width - $paddingLeft - $paddingRight) * $unit;
    }
  }
}
