// Media Query Mixin for min/max/min-device and max-device width or height

@mixin mq($point, $IE9: false, $query1: min, $query2: width) {
    @if $IE9 == true{
        .lt-ie9 & {
            @content;
        }
    }

    @media (#{$query1}-#{$query2}: $point / $doc-font-size +em) {
        @content;
    }
}




// Orientation Media Query Mixin

@mixin orient($orientation: landscape) {
    @media (orientation : $orientation) {
        @content;
    }
}
