// circles

@mixin circle($size: 0) {
  border-radius: 50%;
  height: auto;
  padding-bottom: 0% + $size;
  width: 0% + $size;
}

// square

@mixin square($size: 0) {
  height: auto;
  padding-bottom: 0% + $size;
  width: 0% + $size;
}

// rectangle

@mixin rectangle($size: 0) {
  height: 0;
  padding-bottom: 0% + $size / 3 *2;
  width: 0% + $size;
}
