@mixin font-size($size, $margin: yes, $line-height: $doc-line-height) {
    // makes the font-size in REMs with a PX fallback
    font-size: 0px + $size;
    font-size: 0rem + $size / $doc-font-size;

    // line-height functions
    ////////////////////////

    // if you a line-height is specified in the mixin
    @if $line-height != $doc-line-height and $line-height != 1 {
      line-height: round($line-height / $size*10000) / 10000;
    }

    // if $line-height == 1
    // because, typing 1 is quicker than 16
    @else if $line-height == 1 {
      line-height: 1;
    }

    // normal $line-height
    // if the line-height is left.
    @else {
      line-height: round($line-height / $size*10000) / 10000;
    }

    // margin-bottom functions
    //////////////////////////

    // if no is bottom margin is required
    @if $margin == no {
      margin-bottom: 0;
    }

    // if a specific bottom margin is required
    @else if $margin != yes and $margin != no {
      margin-bottom: 0px + $margin;
      margin-bottom: 0rem + ($margin / $doc-font-size);
    }

    // if you're keeping the vertical rhythm with the margin
    @else {
      margin-bottom: 0px + $doc-line-height;
      margin-bottom: 0rem + ($doc-line-height / $doc-font-size);
    }
}

@mixin font-rem($size) {
	font-size: 0px + $size;
	font-size: $size / $doc-font-size +rem;
}
